################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Day1/.vs/Day1
/Day1/Day1Solution/bin/Debug/net8.0
/Day1/Day1Solution/obj
/AdventOfCode/.vs
/AdventOfCode/Day1Solution/bin/Debug/net8.0
/AdventOfCode/Day1Solution/obj
/AdventOfCode/Day2Solution/bin/Debug/net8.0
/AdventOfCode/Day2Solution/obj
/AdventOfCode/Day3Solution/bin/Debug/net8.0
/AdventOfCode/Day3Solution/obj/Debug/net8.0
/AdventOfCode/Day3Solution/obj
/AdventOfCode/Day4Solution/obj
/AdventOfCode/Day4Solution/bin/Debug/net8.0
/AdventOfCode/Day5Solution/bin/Debug/net8.0
/AdventOfCode/Day5Solution/obj
